body {
  text-align: center;
}

h3 {
  margin: 10px;
  cursor: pointer;
  color: #0088cc;
}

h3:hover {
  text-decoration: underline;
}

i {
  margin-top: 30px;
}

.color {
  background-color: #A9A9A9;
}

.well {
  height: 300px;
}

.none {
  display: none;
}
